/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2013-11-5, 3:05:10
    Author     : waihong
*/
#adminCP{
      margin-top:100px;
      color:white
}

body{
background-image: url('../images/bgcolor.jpg');
background-repeat:repeat;
margin: 0;
padding: 0;
font-family: Arial;
font-size: 13px;
color: #333;
text-align: center;
display:block
}

#admintable{
text-align:left;
margin-left:auto; 
margin-right:auto;
color: #383838;
text-align: left;
font-weight: bold;
background-color: #F5F5F5;
border-radius: 9px;
box-shadow: 0 1px 30px #333333;
}
.adminemail,.adminpassword{
    height:30px; 
    width:300px;
}

#error h3,#error p{
color:white;
}

#edit{
    
}

