/* 
    Document   : homeStyle
    Created on : 05-Nov-2013, 11:09:36
    Author     : d00133215
    Description:
        Purpose of the stylesheet follows.
*/

#follimg{
border: 1px solid rgba(0, 0, 0, .1);
bottom: 0;

left: 0;
position: absolute;
right: 0;
top: 0;
height: 80px;
width: 80px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-khtml-border-radius: 2px;
border-radius: 2px;
border: 3px solid white; 
    background-color: white;
}
#follbox{
border: 1px solid white;
display: inline-block;
margin: 0 0 13px 13px;
padding: 0 10px 13px 0;
position: relative;
vertical-align: top;
width: 290px;

}
#h4foll{
    padding-left:100px;
    
}
a{
    font-family: Arial,sans-serif;
}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline}

#links li{
border-top: 1px solid #e1e8ed;
position: relative;
display: block;
padding: 8px 12px;
text-align: -webkit-match-parent;
list-style: none;
font-family: Arial,sans-serif;
margin-left:-40px;

}
a{
  font-weight: bold;
}
#links li:hover a{
    background-color: #f5f8fa;
    text-decoration: underline;
}
#links li a:visited{
    color: #66757f;
}
#links li a:active{
    color: #66757f;
}
#links li a:link{
    color: #66757f;
}
html{
    min-height:100%;
    min-width:100%;
}
body{
    color:#333;
    background-image: linear-gradient(rgba(0,0,0,0),#99CEE1);
    position:relative;
    overflow-x: hidden;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#logoImages{
    weight:112px;
    height:41px;
}
#container{
margin: 0 auto;
border: 0;
width: 980px;

}
#contain123{
  
}

#imgpic{
background-color: #fff;
border: 4px solid #fff;
height: 50px;
width: 50px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-khtml-border-radius: 2px;
border-radius: 2px;    
    
}
#post:hover{
background-color: #ccc;
background-repeat: no-repeat;
border: 1px solid #e1e8ed;
border-radius: 4px;
color: #0C64A7;
font-size: 14px;
font-weight: bold;
line-height: normal;
cursor: pointer;
}

#imglogo {
    margin-top:3px;
   width:60%;
   height:60%;

   
}
#post{
background-color: #ccc;
background-repeat: no-repeat;
border: 1px solid #e1e8ed;
border-radius: 4px;
color: #0C64A7;
cursor: pointer;
display: inline-block;
font-size: 14px;
font-weight: bold;
line-height: normal;
padding: 8px 16px;


background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#26000000)";
border-color: #3b88c3;

 color:white;
background-color: #55acee;
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#26000000)";
border-color: #3b88c3;
}
#iconpic{
    margin-top:8px;
    margin-left:28px;
    width:38px;
    float:left;
}
#pagedetails{
    float:left;
    width:680px;
   word-wrap: break-word;
}
#profilepicture{
margin-top:20px;
background-color: #fff;
border: 4px solid #fff;
height: 160px;
width: 160px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-khtml-border-radius: 2px;
border-radius: 2px;
border: 3px solid #0084B4;
margin:0;
margin-left:29px;
margin-top:5px;
}

#foll{
    width:218px;
    min-height:70px;
    color: #0084B4;
    border-top:1px solid rgb(204, 204, 204);
}

#foll p{
    color: #999;
}

#Following{
   width:109px; 
   float:left;
   
}
#Followers{
   width:109px; 
   float:left;

}


#sttp{
float:right;
line-height: 1.3em;

text-align:right;
display: inline-block;
font-size: .923em;
color: #707070;
position:relative;
width:300px;
margin-top:3px;
}
#seachbox{
    width: 315px;
    margin-top:10px;
}

#sebutton{
    background-image: url("https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/C_fMmI2LKHS.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: -78px -5px ;
    background-color: rgb(255, 255, 255);
    border: 0px none;
    cursor: pointer;
    height: 20px;
    padding: 0px;
    width: 25px;
    position:absolute;
    top:11px;
}
    

#seache{
    width:450px;
    float:left;
    
}

#logo{
    float:left;
    width:250px;
    height:53px;
}

#banner{
float:right;
min-width:1000px;
text-align:left;
color:white;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 11px;
background-position:50% 50%;
}
#banner p {
    margin-top:-3px;
    color:white;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 11px;
}
#banner a{
    text-decoration-style: none;
    color:white;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 11px;
}

#content{
min-height: 500px;
width: 750px;
float:left;
border-left:solid rgb(78,78,78);
border: 1px solid rgb(208, 208, 208);
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);   
background : rgb(237, 238, 239);
}

#nav{
margin-top: 0px;
min-height: 500px;
width:218px;
float:left;
border-left:solid rgb(78,78,78);
border: 1px solid rgb(208, 208, 208);
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);   
background:white;
}

#footer{
color:rgb(48, 96, 136);
width:100%;
float:left;
z-index: 100;
display: 100%;
text-align:center;
margin-left:0px;

font-size: 12px;
line-height: 16px;
margin-top:10px;
margin-bottom: 10px;
}

#logo img{
    
}
#nav ul{
    list-style-type: none;
}
#content #postcontain{
    margin-top: 10px;
    margin-left: 20px;

}

ul
{
    list-style-type: none;
}
#details{
border-top: 1px solid #e1e2e3;
padding: 0px;
padding-left: 12px;
padding-right: 12px;
min-width: 650px;
float:left;
    display:block;
    margin-left:25px;
    background-color:white;
    color: #3b5998;
cursor: pointer;
background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/upGhv8HDAFB.png);
background-repeat: no-repeat;
background-size: auto;
background-position: -15px -90px;
width: 13px;
}
#line{
    padding: 0px;
    border-bottom:1px solid rgb(204, 204, 204);
    margin-top:10px;
    min-width: 750px;
    float:left;
    display:block;
}
#edit  {
    
}

#editinputfirstname input , #editinputemail input, #editinputoldpassword input, #editinputpassword input ,#editinputpassword2 input{
position:relative ;    
}
 #deleteContent {
    width:500px;
    margin-top: 20px;
    margin-left: 20px;
}
#deleteButton{
    float:right;
    margin-top:-25px;
}


#top-bar {

    width:99999px;
    margin-top:-10px;
    margin-left:-10px;
-webkit-font-smoothing: antialiased;
position: absolute;
height: 53px;
border-bottom: 1px solid #1c5380;
border-bottom-color: rgba(4, 40, 71, 0.8);
-webkit-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
background-color: #517fa4;
background-position: 50% 50%;
z-index: -100;
}

#sttp p{
    margin-top:10px;
}



