/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2013-11-5, 1:15:10
    Author     : waihong
*/


body{
background-image: linear-gradient(rgba(0,0,0,0),#0084B4);
//background-image:url("../images/connection.jpg");
background-repeat:repeat-y;
background-repeat:repeat-x;
margin: 0;
padding: 0;
font-family: Arial;
font-size: 13px;
color: #333;
text-align: center;
display:block;
min-width:100%;
min-height:100%;
}
#mobile_sign_form{
    display:none;
}
html {
min-width:100%;
min-height:100%;
}
#login {
    color:#383838;
    text-align:right;
    font-weight:bold;
    background-color:#f5f5f5;
    box-shadow:0 1px 30px #333333;
    padding-right:20px;
    -moz-box-shadow:0 1px 30px #333333;
    -webkit-box-shadow:0 1px 30px #333333;
}
#login{
    margin-bottom: 10px;
    padding-top:5px;
}

div{

}

#signUpTitle{
    margin-top:100px
}

#signUpTable{
    text-align:left;
    margin-left:auto; 
    margin-right:auto;
}

#signUpTable{
color: #383838;
text-align: left;
font-weight: bold;
background-color: #F5F5F5;
border-radius: 9px;
box-shadow: 0 1px 30px #333333;
-moz-box-shadow:0 1px 30px #333333;
-webkit-box-shadow:0 1px 30px #333333;
-moz-border-radius: 9px;;
    -webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
   
}
#login_button1,#login_button1,#LoginUser,#RegisterUser{
//font-family: 'Freight Sans Bold', 'lucida grande',tahoma,verdana,arial,sans-serif !important;
//font-weight: normal !important;
text-rendering: optimizelegibility;
margin-top: 10px;
margin-bottom: 10px;
min-width: 194px;
padding: 7px 20px;
text-align: center;
//box-sizing: border-box;
//-webkit-box-sizing: border-box;
//-moz-box-sizing: border-box;
background-color: #ccc;
background-repeat: no-repeat;
border: 1px solid #e1e8ed;
border-radius: 4px;
color: #0C64A7;
font-size: 14px;
font-weight: bold;
line-height: normal;
cursor: pointer;

    color:white;
background-color: #55acee;
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#26000000)";
border-color: #3b88c3;
}

#login_button1:hover,#login_button1:hover,#LoginUser:hover,#RegisterUser:hover{
background-color: #ccc;
background-repeat: no-repeat;
border: 1px solid #e1e8ed;
border-radius: 4px;
color: #0C64A7;
font-size: 14px;
font-weight: bold;
line-height: normal;
cursor: pointer;
}
#login_button{
min-width: 80px; 

}

