/* 
    Document   : homeStyle
    Created on : 05-Nov-2013, 11:09:36
    Author     : d00133215
    Description:
        Purpose of the stylesheet follows.
*/
#classname {
         position:absolute;
         margin-top:5px;
         margin-left:630px;
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:29px;
	font-weight:bold;
	font-style:normal;
	height:27px;
	line-height:27px;
	width:36px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
#classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}#classname:active {
	position:relative;
	top:1px;
}

#details{
border-top: 1px solid #e1e2e3;
padding: 0px;
padding-left: 12px;
padding-right: 12px;
min-width: 680px;
float:left;
    display:block;
    margin-left:25px;
    background-color:white;
    color: #3b5998;
cursor: pointer;
background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yM/r/upGhv8HDAFB.png);
background-repeat: no-repeat;
background-size: auto;
background-position: -15px -90px;
width: 13px;
}
a{
  font-weight: bold;
}
a{
    font-family: Arial,sans-serif;
}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline}

body{
    background-image: linear-gradient(rgba(0,0,0,0),#99CEE1);
    position:relative;
    overflow-x: hidden;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#logoImages{
    weight:112px;
    height:41px;
}
#container{
margin: 0 auto;
border: 0;
width: 980px;

}
#post1{
    float:left;
    width:180px;
    min-width:180px; 
}
#post2{
    float:left;
    width:180px;
    min-width:180px; 
    font-weight: bold;
letter-spacing: 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 24px;
color:#66757f;
color: #0084B4;
}

#post4{
    float:right;
    width:180px;
    min-width:180px;
    max-width:180px;
    margin-bottom:10px;
    margin-top:-13px;
    color: #0084B4;
     max-height:150px;
}
#post3 p,#post31 p {
    color: #999;
}
 #post4 p,#post41 p{
    color: #999;
}
#post31,#post41{
        float:right;
    width:180px;
    min-width:180px;
    max-width:180px;
    color: #0084B4;
     max-height:150px;
     margin-top:-15px;
}
#post3{
    float:right;
    width:180px;
    min-width:180px;
    max-width:180px;
    margin-bottom:10px;
    margin-top:-13px;
    color: #0084B4;
    max-height:150px;
}

#container2{
margin: 0 auto;
border: 0;
width: 750px;
}
#contain123{
  padding-left: 115px;
}

#imgpic{
background-color: #fff;
border: 4px solid #fff;
height: 50px;
width: 50px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-khtml-border-radius: 2px;
border-radius: 2px;    
    
}
#post:hover{
    color:white;
background-color: #55acee;
background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#26000000)";
border-color: #3b88c3;
}
html{
    min-height:100%;
    min-width:100%;
}
#imglogo {
    margin-top:3px;
   width:60%;
   height:60%;

   
}
#post{
background-color: #ccc;
background-repeat: no-repeat;
border: 1px solid #e1e8ed;
border-radius: 4px;
color: #0C64A7;
cursor: pointer;
display: inline-block;
font-size: 14px;
font-weight: bold;
line-height: normal;
padding: 8px 16px;


background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#26000000)";
border-color: #3b88c3;
}
#iconpic{
    margin-top:8px;
    margin-left:28px;
    width:38px;
    float:left;
}
#pagedetails{
    float:left;
    width:680px;

   word-wrap: break-word;
}
#profilepicture{
margin-top:20px;
background-color: #fff;
border: 4px solid #fff;
height: 160px;
width: 160px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-khtml-border-radius: 2px;
border-radius: 2px;
}

#sttp{
float:right;
line-height: 1.3em;

text-align:right;
display: inline-block;
font-size: .923em;
color: #707070;
position:relative;
width:300px;
margin-top:3px;
}
#seachbox{
    width: 315px;
    margin-top:10px;
}

#sebutton{
    background-image: url("https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/C_fMmI2LKHS.png");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: -78px -5px ;
    background-color: rgb(255, 255, 255);
    border: 0px none;
    cursor: pointer;
    height: 20px;
    padding: 0px;
    width: 25px;
    position:absolute;
    top:11px;
}
    

#seache{
    width:450px;
    float:left;
    
}

#logo{
    float:left;
    width:250px;
    height:53px;
}

#banner{
float:right;
min-width:1000px;
text-align:left;
color:white;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 11px;
background-position:50% 50%;
}
#banner p {
    margin-top:-3px;
    color:white;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 11px;
}
#banner a{
    text-decoration-style: none;
    color:white;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 11px;
}

#content{
min-height: 500px;
width: 750px;
float:left;
border-left:solid rgb(78,78,78);
border: 1px solid rgb(208, 208, 208);
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);   
background : rgb(237, 238, 239);

}

#nav{
margin-top: 0px;
min-height: 500px;
width:218px;
float:left;
border-left:solid rgb(78,78,78);
border: 1px solid rgb(208, 208, 208);
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);   
background:white;
}

#footer{
color:rgb(48, 96, 136);
width:100%;
float:left;
z-index: 100;
display: 100%;
text-align:center;
margin-left:0px;

font-size: 12px;
line-height: 16px;
margin-top:10px;
margin-bottom: 10px;
}

#logo img{
    
}
#nav ul{
    list-style-type: none;
}
#content #postcontain{
    margin-top: 10px;
    margin-left: 20px;
    min-height:50px;

}
#profiletop{
    float:left;
    width:750px;
    min-height:250px;
}

ul
{
    list-style-type: none;
}
#line{
    padding: 0px;
    border-bottom:1px solid rgb(204, 204, 204);
    margin-top:10px;
    min-width: 750px;
    float:left;
    display:block;
}
#edit  {
    
}

#editinputfirstname input , #editinputemail input, #editinputoldpassword input, #editinputpassword input ,#editinputpassword2 input{
position:relative ;    
}
 #deleteContent {
    width:500px;
    margin-top: 20px;
    margin-left: 20px;
}
#deleteButton{
    float:right;
    margin-top:-25px;
}


#top-bar {

    width:99999px;
    margin-top:-10px;
    margin-left:-10px;
-webkit-font-smoothing: antialiased;
position: absolute;
height: 53px;
border-bottom: 1px solid #1c5380;
border-bottom-color: rgba(4, 40, 71, 0.8);
-webkit-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
box-shadow: 0 1px 0 rgba(111, 151, 182, 0.5) inset, 0 -1px 0 rgba(111, 151, 182, 0.2) inset, 0px 1px 1px rgba(0,0,0,.2);
background-color: #517fa4;
background-position: 50% 50%;
z-index: -100;
}

#sttp p{
    margin-top:10px;
}
#follBut{

}

#follBut {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
#follBut:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}


