/* 
    Document   : profile
    Created on : 13-Dec-2013, 12:54:02
    Author     : d00133215
    Description:
        Purpose of the stylesheet follows.
*/
ul
{
    list-style-type: none;
}
a{
    font-family: Arial,sans-serif;
}

a{
  font-weight: bold;
}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline}

body{
    color:#333;
    background : white;
    position:relative;
    overflow-x: hidden;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
#profilepicture{
background-color: #fff;
border: 4px solid #fff;
height: 160px;
width: 160px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-khtml-border-radius: 2px;
border-radius: 2px;
}

#content{
min-height: 500px;
width: 1180px;
float:left;
border:1px solid rgb(204, 204, 204);
}
#container{
margin: 0 auto;
border: 0;
width: 1183px;
}
#banner{
text-align:right;
}
#profiletop{
    
}
#sttp{
padding: 12px 0 18px 0;
line-height: 1.3em;
right: 10px;
top: 0;
display: inline-block;
font-size: .923em;
color: #707070;
}
#logo{
   text-align:left; 
}